<%- include('partials/head.ejs') -%>
<%- include('./partials/progress.ejs') -%>
<link rel="stylesheet" href="/stylesheets/auth.css">
<div class="container-fluid p-0 m-0">
  <div class="auth">
    <form action="/login" method="POST" class="form-signin mx-400 w-100">
      <h1 class="text-left font-bold mb-3">CONNEXION <i class="fa fa-lock"></i></h1>
      <hr>
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="text" id="email" name="email" class="form-control mb-3" placeholder="Entrer votre adresse email" required
          autofocus>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control" pattern="[A-Za-z0-9 #-]{6,}"
          title="Au minimul 6 letters : letters, nombres, charactere spéciaux : # _ -" placeholder="Entrer votre mot de passe"
          required>
      </div>
      <a href="/pass-oublie" style="font-size: 12px !important">mot de passe oublié?</a>
      <button class="btn-submit btn btn-lg btn-success btn-block mt-3 mb-3 font-s14" type="submit">connexion</button>
      <hr>
      <div>
        <p class="m-0">Pas de compte?<a href="/register" class="btn btn-link font-s14 pl-1">S'inscrire maintenant</a>
        </p>
        <div class="alert alert-dark mx-400" id="form-signin" role="alert">alter</div>
        <% if(locals.msg && !locals.c) { %>
        <div class="alert alert-danger mt-0 mx-400" role="alert"><%= msg %></div>
        <% } %>

        <% if(locals.msg && locals.c && !locals.e) { %>
        <div class="alert alert-dark mt-0 mx-400" role="alert"><%= msg %></div>
        <% } %>
      </div>
    </form>
  </div>
</div>
<script src="javascripts/validation.js" defer></script>
</body>
</html>