<%- include('partials/head.ejs') -%>
<link rel="stylesheet" href="/stylesheets/auth.css">
<div class="container-fluid p-0 m-0">
  <div class="auth">
    <form action="/pass-oublie" method="POST" class="form-signin mx-400 w-100" id="form-pass-oublie">
      <h1 class="text-left font-bold mb-3">MOT DE PASSE OUBLIE?</h1>
      <hr>
      <p>Un lien de réinitialisation sera envoyé à l'adresse email que vous avez utilisée lors de votre inscription.</p>
      <hr>
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="text" id="email" name="email" class="form-control mb-3" placeholder="Entrer votre adresse email"
          required autofocus>
      </div>
      <button class="btn-submit btn btn-lg btn-success btn-block mt-3 mb-3 font-s14" type="submit">Envoyer</button>
      <hr>
      <div>
        </p>
        <div class="alert alert-danger mx-400" id="form-signin" role="alert">alter</div>
        <% if(locals.msg ) { %>
        <div class="alert alert-danger mt-0 mx-400" role="alert"><%= msg %></div>
        <% } %>
      </div>
    </form>
  </div>
</div>
<script src="javascripts/validation.js" defer></script>
</body>

</html>