<%- include('partials/head.ejs') -%>
<%- include('./partials/progress.ejs') -%>
<link rel="stylesheet" href="/stylesheets/auth.css">
<div class="container-fluid p-0 m-0">
  <div class="auth">
    <form action="/register" method="POST" class="form-signin mx-400 w-100">
      <h1 class="text-left mb-3">REGISTER <i class="fa fa-lock"></i></h1>
      <hr>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" class="form-control mb-3" pattern="[A-Za-z]{3,}" placeholder="Entrer votre nom" required
          autofocus>
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="prenom" id="prenom" name="prenom" class="form-control" pattern="[A-Za-z]{4,}" placeholder="Entrer votre prenom" required>
      </div>
      <div class="form-group">
        <label for="email">adresse email</label>
        <input type="text" id="email" name="email" class="form-control mb-3" placeholder="Entrer votre adresse email" required
          autofocus>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control" pattern="[A-Za-z0-9 #-]{6,}"
          title="Au minimul 6 letters : letters, nombres, charactere spéciaux : # _ -" placeholder="Entrer votre mot de passe"
          required>
      </div>
      <button class="btn btn-lg btn-success btn-block mt-3 mb-3 font-s14" type="submit">cree un compte</button>
      <hr>
      <div>
        <p class="m-0">Vous avez déjà un compte ? <a href="/login" class="btn btn-link font-s14 p-1"> se connecter</a></p>
        <div class="alert alert-danger mx-400" id="form-signin" role="alert">alter</div>
        <%- include('snackbar') -%>
      </div>
    </form>
  </div>
</div>
<script src="javascripts/validation.js" defer></script>
</body>
</html>