<div class="modal fade" id="ajoutNotifModal" tabindex="-1" role="dialog" aria-labelledby="ajoutNotifModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ajoutNotifModalLabel">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-notif-ajout" class="form-notif bg-light p-0 mb-3">
          <div class="form-group">
            <label for="sujet">Sujet</label>
            <input type="text" class="form-control" name="sujet" placeholder="Entrer sujet" required>
          </div>

          <div class="form-group">
            <label for="msg">Message</label>
            <textarea class="form-control" id="msg" name="msg" rows="7" placeholder="Entrer votre message"
              required></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Envoyer</button>
          <button type="reset" class="btn btn-danger">vider</button>
        </form>
        <div id="msg-notif"></div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/pages/notification.js" defer></script>