<%- include('../partials/head.ejs') -%>
<link rel="stylesheet" href="/stylesheets/auth.css">
<div class="container-fluid p-0 m-0">
  <div class="auth">
    <form action="/pass-oublie/reinitialiser" method="POST" class="form-signin mx-400 w-100">
      <h1 class="text-left font-bold mb-3 text-uppercase">Reinitialiser mot de passe</h1>
      <hr>
      <div class="form-group">
        <label for="key">CLé secrete</label>
        <input type="text" id="key" name="key" class="form-control" placeholder="Entrer votre clé secrete" required>
      </div>

      <div class="form-group">
        <label for="password">Nouveau Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control" pattern="[A-Za-z0-9 #-]{6,}"
          title="Au minimul 6 letters : letters, nombres, charactere spéciaux : # _ -" placeholder="Entrer votre nouveau mot de passe"
          required>
      </div>

      <div class="form-group">
        <label for="confpassword">Confirmer Mot de passe</label>
        <input type="password" id="confpassword" name="confpassword" class="form-control" pattern="[A-Za-z0-9 #-]{6,}"
          title="Au minimul 6 letters : letters, nombres, charactere spéciaux : # _ -"
          placeholder="Confirmer votre nouveau mot de passe" required>
      </div>

      <button class="btn-submit btn-lg btn-success btn-block mt-3 mb-3 font-s14" type="submit"
        id="btn-rein">reinitialiser mon mot de passe</button>
      <hr>
      <div>
        <% if(locals.msg) { %>
        <div class="alert alert-success mt-0 mx-400" role="alert">
          <%= msg %> <a href="/login">se connecter</a>
        </div>
        <% } %>
      </div>
    </form>
  </div>
</div>
<script src="javascripts/validation.js" defer></script>
<script defer>
  let btnRein = document.getElementById('btn-rein')
  btnRein.disabled = true
  let confPass = document.getElementById('confpassword')
  confPass.onblur = () => {
    btnRein.disabled = confPass.value !== document.getElementById('password').value
  }
</script>
</body>
</html>